* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
img {
  max-width: 100%;
}
header {
  background-color: black;
  color: white;
}
header ul {
  justify-content: space-between;
  display: flex;
 }
.home {
  width: 980px;
  margin: 0px auto;
}
.home ul li a:hover{
color: rgb(32, 181, 218);
}
header a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
}
header a :hover {
  background-color: black;
  text-decoration: none;
}
.mac-laptop {
  text-align: center;
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}
.laptop {
  text-align: center;
  width: 100%;
  margin-top: 10px;
  font-size: 40px;
}
h3 {
  font-size: 55px;
}
.best {
  font-size: 45px;
  padding:15px 0px;
}
li {
  list-style: none;
}
.learn a {
  color:  #06c;
  justify-content: space-between;
  font-size: 25px;
  text-align: center;
  padding-left: 10px;
}
.learn a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f105";
  padding-left: 10px;
}
.learn a:hover {
  color: #000;
}
header ul li a img {
  width: 18px;
}
.iphone {
  height: 560px;
  text-align: center;
  color: white;
  font-size: 30px;
  padding-top: 25px;
  background-image: url(images-used/home/iphone11-pro-bg.jpg);
  background-position: bottom;
  margin-bottom: 35px;
}
.price {
  color: #595959;
  font-size: 20px;
  padding: 20px 0px; 
}
.iphone-11 {
  text-align: center;
  font-size: 25px;
  background-image: url(images-used/home/iphone11-bg.jpg);
  height: 560px;
  background-position: bottom;
}
.phones img {
  font-size: 120px;
}
.pair {
  text-align: center;
  margin: 15px;
}
.fixed-1 {
  display: flex;
  margin: 10px;
  width: 100%;
  height: 580px;
}
.watch {
  font-size: 25px;
  background-image: url(images-used/home/watch-series-5.jpg);
  background-position: bottom;
  margin-right: 5px;
  width: 50%;
}
.card {
  background-image: url(images-used/home/apple-card.jpg);
  margin-left: 5px;
  background-position: center;
  width: 50%;
}
.get {
  padding: 20px 0px;
  font-size: 25px;
}
.child {
  background-image: url(images-used/home/apple-tv-background.jpg);
  background-position: bottom;
  width: 50%;
}
.apple-tv {
  padding: 45px 0px 135px;
}
.trailer {
  color: blue;
  font-size: 25px;
  text-align: center;
  padding-top: 230px;
}
.trailer a {
  color: blue;
}
.trailer a:after{
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f144";
    padding-left: 15px;
}
.NIGHT {
  justify-content: space-between;
  padding-top: 135px;
}
.airpod {
  color: white;
  background-color: black;
  width: 50%;
  height: 570ox;
}
.fixed-2 {
  display: flex;
  height: 580px;
}
.fixed-3{
  text-align: center;
  display: flex;
  height: 570px;
  width: 100%;
  padding: 10px;
}
.inch{
  background-image: url(images-used/home/mac-laptop.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  height: 570px;
  background-size: 540px;
  width: 50%;
  margin:0px 10px ;

}
.inch p {
  font-size: 25px;
}
.the-new-ipad{
  background-image: url(images-used/home/new-ipad.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  height: 570px;
  width: 50%;
  margin:0px 10px ;
}
.the-new-ipad img{
padding-top:35px;
}
.like-computer{
  font-size: 25px;
  padding: 10px;
}
.paragraph a{
  text-decoration: none;
  color: #4d4d4f; 
  padding: 0%;
  }
.paragraph a:hover{
  text-decoration: underline;
  }
.paragraph{
  color:#7e7e81;
  padding: 10px 100px;
  text-decoration: none;
}
.Appendix a{
  color:#7e7e81;
  padding-left: 0px;
}
.Appendix a:hover{
text-decoration: underline;
}
.Appendix{
  display: flex;
  text-align: left;
  justify-content: space-between;
  padding: 10px 100px;
  text-decoration: none;
  -webkit-box-pack: justify;
}
.Services{
  padding-bottom: 20px;
}
.For-Business-education-healthcare-government ul{
padding-bottom: 20px;
}
.Apple-Values ul{
padding-bottom: 20px;
}
.more-way{
  text-decoration: none;
  padding: 0px 100px 15px;
  display:flex;
  border-bottom: 1px solid #d2d2d7;
}
.more-way a{
  padding: 0px 5px;
  color: #9160D1;
  display: flex;
  text-decoration: underline;
}
.copy-right{
  padding: 25px 100px;
  display:flex;
}
.copy-right ul li{
  padding: 0 5px;
  display: inline-block;
  font-size: 14px;
}
.copy-right a{
  color: #7e7e81;
  padding: 0 5px;
  border-right: 1px solid #ccc;
}
.copy-right a:hover{
  text-decoration: underline;
}
.copy-right ul{
padding-left: 90px;
}
.US{
  padding-left: 90px;
}
a:-webkit-any-link {
    cursor: pointer;
}